@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@media print {
  .protected-content {
    display: none !important;
  }
  
  body::before {
    content: "Printing of premium course materials is disabled.";
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
  }
}
